{% extends 'estoque/base.html' %}

{% block title %}Estoque - Loja de Eletronicos{% endblock %}

{% block extra_css %}
    {{ block.super }} 

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Produto<td></td>{{produto.nome}}</td>
                    <td>Categoria</td><td>{{produto.categoria}}</td>
                    <td>Preço</td><td>R${{produto.preco}}</td>
                    <td>Estoque</td><td>{{produto.estoque}}</td>
                    <td>Status</td><td>{{produto.disponivel}}</td>
                </tr>
            </table>
        </div>
            <div class="col=col-md-4"></div>
    </div>
{% endblock %}